<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестовая страница</title>
</head>
<body>


    <h1>Интересные факты про кошек</h1>
   <p> <img src="https://cdn.pfps.gg/pfps/5776-cute-cat-art.png" alt="Котик"></p>

    <h2>Факты про кошек</h2>
    <h3>Факты про кошек</h3>
     <h4>Факты про кошек</h4>
     <h5>Факты про кошек</h5>
     <h6>Факты про кошек</h6>
    <progress>Пример 7</progress>

    <p class="text bold">

    <ul>
        <li>Кошки могут прыгать на высоту, превышающую их собственную длину в шесть раз, благодаря мощным задним лапам.
        </li>
        <li>У кошек есть 32 мышцы, управляющие каждым ухом, что позволяет им поворачивать их на 180 градусов для лучшего
            улавливания звуков.
        </li>
        <li>Около 70% своей жизни кошки проводят во сне, что эквивалентно примерно 13–16 часам в сутки.
        </li>
        <li>Нос у кошек имеет уникальный рисунок, подобный отпечаткам пальцев у людей, и не существует двух кошек с
            одинаковыми носами.
        </li>

    </ul>
    </p>



<img src="https://cdn.pfps.gg/pfps/5776-cute-cat-art.png" width="236" height="236">
<!--This is a comment. Comments are not displayed in the browser-->

<p> <a href="https://ya.ru/" target="_blank"> Про кошек</a> </p>

<input type="text" value="Введите текст" >

<input type="text" value="Подвердить" disabled>


<address>Мой адрес</address>
</body>
</html>